allennlp==1.1.0
allennlp-models==1.1.0
attrs==20.2.0
blis==0.4.1
boto3==1.16.2
botocore==1.19.2
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
conllu==4.1
cymem==2.0.3
dataclasses==0.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
filelock==3.0.12
ftfy==5.8
future==0.18.2
h5py==2.10.0
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
jmespath==0.10.0
joblib==0.17.0
jsonnet==0.16.0
jsonpickle==1.4.1
murmurhash==1.0.2
nltk==3.5
numpy==1.19.2
overrides==3.1.0
packaging==20.4
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
protobuf==3.13.0
py==1.9.0
py-rouge==1.1
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
regex==2020.10.15
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.3
sentencepiece==0.1.91
six==1.15.0
spacy==2.3.2
srsly==1.0.2
tensorboardX==2.1
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc1
toml==0.10.1
torch==1.6.0
tqdm==4.50.2
transformers==3.0.2
urllib3==1.25.11
wasabi==0.8.0
wcwidth==0.2.5
word2number==1.1
zipp==3.3.1
